extends /layout

block declarations
	- additional_title = Spotify;

block additional_css
	link(rel='stylesheet', href='/mediacenterjs-spotify/public/css/style.css')

block additional_scripts
	script(src="/mediacenterjs-spotify/public/js/jquery.spotify.js")

block body
		header
			.container
				.row
					.col-md-12
						a.backlink(href="/") &#xe113;
						h1.hidden-xs Spotify
		.container
			.row
				.col-md-12			
					form#searchWrapper(method="post") 
						h1 Find tracks
						input.search(type="text")
						input.btn(type="submit",value="Search")
					ul#results		